In [102]:
import pandas as pd


#Pull csv into pandas dataframe

data = pd.read_csv(r'C:\Users\Jordan\Documents\CodeKY\Capstone_Project_Repo\Data\pantheon_people.csv', delimiter = ",")
data.head(100)

,en_curid,name,numlangs,birthcity,birthstate,countryName,countryCode,countryCode3,LAT,LON,...,occupation,industry,domain,TotalPageViews,L_star,StdDevPageViews,PageViewsEnglish,PageViewsNonEnglish,AverageViews,HPI
0,307,Abraham Lincoln,131,Hodgenville,KY,UNITED STATES,US,USA,37.571111,-85.738611,...,POLITICIAN,GOVERNMENT,INSTITUTIONS,66145211,5.801387,586914.722000,41477236,24667975,504925.274800,27.938585
1,308,Aristotle,152,Stageira,NaN,Greece,GR,GRC,40.333333,23.500000,...,PHILOSOPHER,PHILOSOPHY,HUMANITIES,56355172,11.914597,201067.460700,15745351,40609821,370757.710500,31.993795
2,339,Ayn Rand,55,Saint Petersburg,NaN,Russia,RU,RUS,59.950000,30.300000,...,WRITER,LANGUAGE,HUMANITIES,14208218,3.175685,87632.490200,11023490,3184728,258331.236400,24.325936
3,595,Andre Agassi,69,Las Vegas,NV,UNITED STATES,US,USA,36.121514,-115.173851,...,TENNIS PLAYER,INDIVIDUAL SPORTS,SPORTS,11244030,6.242525,85553.318100,6353888,4890142,162956.956500,20.925999
4,628,Aldous Huxley,62,Godalming,NaN,UNITED KINGDOM,GB,GBR,51.185000,-0.610000,...,WRITER,LANGUAGE,HUMANITIES,9268920,6.219842,33037.032090,5137256,4131664,149498.709700,25.996605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1749,Ancus Marcius,34,Rome,NaN,Italy,IT,ITA,NaN,NaN,...,POLITICIAN,GOVERNMENT,INSTITUTIONS,603418,12.865930,2028.279290,139936,463482,17747.588240,26.249059
96,1755,Andrew II of Hungary,30,Esztergom,NaN,Hungary,HU,HUN,47.785556,18.740278,...,POLITICIAN,GOVERNMENT,INSTITUTIONS,527331,10.277322,2709.111296,166176,361155,17577.700000,24.376421
97,1760,Andronikos III Palaiologos,35,Istanbul,NaN,Turkey,TR,TUR,41.012240,28.976018,...,POLITICIAN,GOVERNMENT,INSTITUTIONS,307708,12.819324,1210.967132,106496,201212,8791.657143,24.321390
98,1761,Andronikos II Palaiologos,37,Ä°znik,NaN,Turkey,TR,TUR,40.429167,29.721111,...,POLITICIAN,GOVERNMENT,INSTITUTIONS,368407,12.619955,1526.655381,128362,240045,9956.945946,24.523432
99,1762,Andronikos I Komnenos,40,Istanbul,NaN,Turkey,TR,TUR,41.012240,28.976018,...,POLITICIAN,GOVERNMENT,INSTITUTIONS,467629,11.514210,1819.333239,167852,299777,11690.725000,24.918667

In [103]:
#drop unneeded columns
data2 = data.drop(columns=['en_curid','numlangs','countryCode','LAT','LON', 'TotalPageViews', 'L_star', 'StdDevPageViews', 'PageViewsEnglish', 'PageViewsNonEnglish', 'AverageViews' , 'HPI'
                  ]) 
#rename columns in prep of loading to a database
data2.rename(columns={'name': 'Display_Name', 'birthcity': 'Birth_City', 'birthstate': 'Birth_State'
                     , 'countryName': 'Country', 'countryCode3': 'Country_Code', 'continentName': 'Continent'
                     , 'birthyear': 'Birth_Year', 'gender': 'Gender', 'occupation': 'Occupation'
                     , 'domain': 'Domain', 'industry': 'Industry'}, inplace=True)
data2.head(100)

,Display_Name,Birth_City,Birth_State,Country,Country_Code,Continent,Birth_Year,Gender,Occupation,Industry,Domain
0,Abraham Lincoln,Hodgenville,KY,UNITED STATES,USA,North America,1809,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS
1,Aristotle,Stageira,NaN,Greece,GRC,Europe,-384,Male,PHILOSOPHER,PHILOSOPHY,HUMANITIES
2,Ayn Rand,Saint Petersburg,NaN,Russia,RUS,Europe,1905,Female,WRITER,LANGUAGE,HUMANITIES
3,Andre Agassi,Las Vegas,NV,UNITED STATES,USA,North America,1970,Male,TENNIS PLAYER,INDIVIDUAL SPORTS,SPORTS
4,Aldous Huxley,Godalming,NaN,UNITED KINGDOM,GBR,Europe,1894,Male,WRITER,LANGUAGE,HUMANITIES
...,...,...,...,...,...,...,...,...,...,...,...
95,Ancus Marcius,Rome,NaN,Italy,ITA,Europe,-700,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS
96,Andrew II of Hungary,Esztergom,NaN,Hungary,HUN,Europe,1177,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS
97,Andronikos III Palaiologos,Istanbul,NaN,Turkey,TUR,Asia,1297,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS
98,Andronikos II Palaiologos,Ä°znik,NaN,Turkey,TUR,Asia,1259,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS
99,Andronikos I Komnenos,Istanbul,NaN,Turkey,TUR,Asia,1118,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS

In [104]:
#replace the invalid vaues
#data2.loc[invalid_values.index, 'Birth_Year'] = pd.NA
#check to see if any values are returned
invalid_values = data2[data2['Birth_Year'].astype(str).str.contains('[a-zA-Z!@#$%^&*(),.?":{}|<>]', regex=True, na=False)]
print(invalid_values)

           Display_Name Birth_City Birth_State  Country Country_Code  \
60               Alboin   Pannonia         NaN  HUNGARY          HUN
7300   Adam de la Halle      Arras         NaN   France          FRA
7994                Asa      Other         NaN  Unknown          UNK
11072            Elisha      Other         NaN  Unknown          UNK

      Continent Birth_Year Gender        Occupation    Industry        Domain
60       Europe       530s   Male        POLITICIAN  GOVERNMENT  INSTITUTIONS
7300     Europe      1237?   Male            WRITER    LANGUAGE    HUMANITIES
7994    Unknown    Unknown   Male        POLITICIAN  GOVERNMENT  INSTITUTIONS
11072   Unknown    Unknown   Male  RELIGIOUS FIGURE    RELIGION  INSTITUTIONS

In [111]:
#replace bad values using
replacements = {'Unknown': 'NaN', '530s': 'NaN', '1237?':'NaN'}
data2['Birth_Year'] = data2['Birth_Year'].map(replacements).fillna(data2['Birth_Year'])
#check for addl invalid values
invalid_values = data2[data2['Birth_Year'].astype(str).str.contains('[a-zA-Z!@#$%^&*(),.?":{}|<>]', regex=True, na=False)]
print(invalid_values)

data2.head(100)

           Display_Name Birth_City Birth_State  Country Country_Code  \
60               Alboin   Pannonia         NaN  HUNGARY          HUN
7300   Adam de la Halle      Arras         NaN   France          FRA
7994                Asa      Other         NaN  Unknown          UNK
11072            Elisha      Other         NaN  Unknown          UNK

      Continent Birth_Year Gender        Occupation    Industry        Domain
60       Europe        NaN   Male        POLITICIAN  GOVERNMENT  INSTITUTIONS
7300     Europe        NaN   Male            WRITER    LANGUAGE    HUMANITIES
7994    Unknown        NaN   Male        POLITICIAN  GOVERNMENT  INSTITUTIONS
11072   Unknown        NaN   Male  RELIGIOUS FIGURE    RELIGION  INSTITUTIONS

,Display_Name,Birth_City,Birth_State,Country,Country_Code,Continent,Birth_Year,Gender,Occupation,Industry,Domain
0,Abraham Lincoln,Hodgenville,KY,UNITED STATES,USA,North America,1809,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS
1,Aristotle,Stageira,NaN,Greece,GRC,Europe,-384,Male,PHILOSOPHER,PHILOSOPHY,HUMANITIES
2,Ayn Rand,Saint Petersburg,NaN,Russia,RUS,Europe,1905,Female,WRITER,LANGUAGE,HUMANITIES
3,Andre Agassi,Las Vegas,NV,UNITED STATES,USA,North America,1970,Male,TENNIS PLAYER,INDIVIDUAL SPORTS,SPORTS
4,Aldous Huxley,Godalming,NaN,UNITED KINGDOM,GBR,Europe,1894,Male,WRITER,LANGUAGE,HUMANITIES
...,...,...,...,...,...,...,...,...,...,...,...
95,Ancus Marcius,Rome,NaN,Italy,ITA,Europe,-700,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS
96,Andrew II of Hungary,Esztergom,NaN,Hungary,HUN,Europe,1177,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS
97,Andronikos III Palaiologos,Istanbul,NaN,Turkey,TUR,Asia,1297,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS
98,Andronikos II Palaiologos,Ä°znik,NaN,Turkey,TUR,Asia,1259,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS
99,Andronikos I Komnenos,Istanbul,NaN,Turkey,TUR,Asia,1118,Male,POLITICIAN,GOVERNMENT,INSTITUTIONS

In [112]:
#change datatype of birthyear to int
data2.Birth_Year.astype('float64')

0        1809.0
1        -384.0
2        1905.0
3        1970.0
4        1894.0
          ...
11336   -3500.0
11337    1200.0
11338    1275.0
11339    1917.0
11340    1828.0
Name: Birth_Year, Length: 11341, dtype: float64

In [113]:
#change datatype of birthyear to int
data2.Birth_Year.astype('int64')

ValueError: invalid literal for int() with base 10: 'NaN'