In [3]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("Zodiac_Analysis.db")
df = pd.read_sql_query("SELECT domain, industry, occupation FROM pantheon_people_import;", con)

# Verify that result of SQL query is stored in the dataframe
print(df)

con.close()

            domain           industry     occupation
0     INSTITUTIONS         GOVERNMENT     POLITICIAN
1       HUMANITIES           LANGUAGE         WRITER
2           SPORTS  INDIVIDUAL SPORTS  TENNIS PLAYER
3       HUMANITIES           LANGUAGE         WRITER
4             ARTS   FILM AND THEATRE  FILM DIRECTOR
...            ...                ...            ...
8862  INSTITUTIONS         GOVERNMENT     POLITICIAN
8863  INSTITUTIONS         GOVERNMENT     POLITICIAN
8864        SPORTS  INDIVIDUAL SPORTS  TENNIS PLAYER
8865    HUMANITIES            HISTORY      HISTORIAN
8866    HUMANITIES           LANGUAGE         WRITER

[8867 rows x 3 columns]